body{
    color:grey;
    background: white;
}
header{
    margin-bottom:10px;
}
header h2{
    font-size:25px;
}
.form-control{
    display:inline;
}
input[type=text]{
    width:100px;
}
.select{
    width:80px;
}
.well{
    margin-bottom:8px;
}
.result-box{
    border-radius:5px;
    padding:10px;
    display:inline;
    background:rgba(255,255,255,0.5);
    margin-right:7px;
    text-align:center;
}

.social-media-list{
    list-style:none;
    color:  #8f9296;
    margin-bottom:20px;
    padding-left:0;
    text-align:center;
}
.social-media-list li{
    display:inline;
    margin-right:20px;
    padding-left:0;

}
.social-media-list li a{
    font-size:20px;
    color:  #8f9296;
}


@media screen and (min-width: 480px) {
    header h2 {
        font-size:40px;
    }
}

